body {
    font-family: 'Trebuchet MS', sans-serif;
}

#mainBody {
    margin: 0;
    display: flex;
    align-items: stretch;
    min-height: 100vh;
}

#profileImage {
    width: 200px;
    margin-top: 50px;
}

#sideMenu {
    background-color: #C3B1E1;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

#subtitle {
    margin-top: -15px;
    margin-bottom: 30px;
}

a[role=button] {
    background-color: #8D7CAA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    width: 150px;
    cursor: pointer;
}

a[role=button]:hover {
    background-color: #736093;
}

a[role=button]:active {
    background-color: #5B4C74;
}

nav {
    display: flex;
    flex-direction: column;
}

#mainPage {
    flex: 1 1 0;
    background-color: #DFD6EF;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 0;
}
h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

object {
    width: calc(100% - 300px);
}

#aboutImage {
    height: 500px;
    margin-right: 60px;
}

#aboutWrapper {
    display: flex;
    margin: 40px 80px 0;
}

#pageText {
    font-size: 20px;
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    background-color: #736093;
    margin: 5px;
    padding: 10px;
    text-align: center;
    width: fit-content;
    display: inline-block;
    color: white;
    border-radius: 5px;
    cursor: default;
}

ul {
    margin: 0 60px 20px;
    text-align: center;
    padding: 0;
}

.circularImage {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    border: 5px solid #736093;
}

.projectTitle {
    font-weight: bold;
    font-size: 25px;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    flex: 1;
}

.projectHolder {
    display: flex;
    align-items: center;
    margin: 0 60px 20px;
    width: calc(100% - 120px);
}

#degreeHolder {
    margin: 0 60px;
}